* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}



#TelaInicial{ /*ARRUMAR A QUALIDADE DA IMAGEM*/
    background-image: url("./img/fundo.png.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  #pesquisar {
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 90%;
}
#DigitarPesquisa{
    font-weight: bold;
    border-radius: 5px;
    margin-left: 78%;
    position: relative;
    top: 25px; 
   
}
.boxCenter {
    background-color: rgba(5, 5, 5, 0.377);
    width: 198vh;
    height: 65vh;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top:110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centralizar horizontalmente e verticalmente em relação ao seu próprio tamanho*/

}
.linha-vertical{
    width: 1px; 
    height: 100%; 
    background-color: rgb(255, 102, 0); 
    margin-right: 60%;
}
.linha-horizontal{
    width: 100%; 
    height: 1px; 
    background-color: rgb(255, 102, 0); 
   
}
#logo {
    position: absolute;
    top: 20px; 
    left: 5%; 
    
}

#logo img {
    width: 200px;      
    height: auto; 
   
}

.container-icones{
    display: flex;
    gap: 300px;
}

/*altera os icones*/
.icone {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
    display: flex;
}
.texto-bola-icone {
    display: flex; 
}

.texto-icone {
    display: flex;
    align-items: center; 
}

/*arrumar texto  <span class="Fultebol">Fultebol</span>*/
.texto,.Fultebol {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.textoIcone.texto {
    color: black;
}
.card {
    width: 150px;  /* Tamanho da imagem */
    height: 150px;
    object-fit: cover; 
    display: block;  /* Garante que as imagens sejam exibidas */
    margin: 10px;  
}

